@import "../variables.scss";
.s-list-item__wrapper {
    .s-list-item {
        cursor: pointer;
        user-select: none;
        align-items: center;
        display: flex;
        flex: 1 1 100%;
        min-height: 35px;
        outline: none;
        padding: 0 16px;
        position: relative;
        text-decoration: none;

        &--active {
            color: $primary;

            &:before {
                background-color: $primary !important;
            }

            .icon {
                transform: rotate(-180deg);
            }
        }

        &:before {
            content: "";
            pointer-events: none;
            opacity: 0;
            background-color: #000000;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: .3s cubic-bezier(.25, .8, .5, 1);
        }

        &:hover:before {
            opacity: .15;
        }

        &__header {
            flex: 1 1 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &__prepend-icon {
            display: inline-flex;
            margin-right: 15px;
            align-self: center;
            justify-content: flex-end;
        }

        &__append-icon {
            display: inline-flex;
            margin-left: 15px;
            align-self: center;
            justify-content: flex-end;
        }

        &__icon {
            display: inline-flex;
            margin-left: 15px;
            align-self: center;
            justify-content: flex-end;

            .icon {
                transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }

        &__content {
            flex: 1 1 auto;
            padding-left: 30px;
        }
    }
}
