.s-text-field {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    max-width: 100%;
    text-align: left;
    padding-top: 10px;

    &__control {
      display: flex;
      flex-direction: column;
      position: relative;
      flex-grow: 1;
    }
  
    &__slot {
      align-items: center;
      display: flex;
      position: relative;
      width: 100%;
  
      label {
        position: absolute;
        top: -10px;
        left: 0px;
        right: auto;
        font-size: 75%;
      }
  
      input {
        color: rgba(0, 0, 0, .9);
        flex: 1 1 auto;
        padding: 7px 0;
        max-width: 100%;
        min-width: 0;
        width: 100%;
        border-style: none;
  
        &:focus {
          outline: none;
        }
      }
  
      &:after {
        bottom: -1px;
        content: "";
        left: 0;
        position: absolute;
        transition: .3s cubic-bezier(.25,.8,.5,1);
        width: 100%;
        border-style: solid;
        border-width: thin 0 0;
        border-color:rgba(0, 0, 0, .4);
      }
    }
  
    &__icon {
      align-self: flex-start;
      display: inline-flex;
      margin-top: 4px;
      cursor: pointer;
  
      .s-icon {
        color: rgba(0, 0, 0, .5);
        align-items: center;
        display: inline-flex;
        height: 24px;
        flex: 1 0 auto;
        justify-content: center;
        min-width: 24px;
        width: 24px;
      }
    }

    &__progress {
      height: 2px;
      width: 100%;
      overflow: hidden;
      position: absolute;
      top: calc(100% - 1px);
      left: 0;

      .background {
        height: inherit;
        background: $primary;
        opacity: .15;
      }

      .long, .short {
        background-color: $primary;
        bottom: 0;
        height: inherit;
        left: 0;
        position: absolute;
        right: auto;
        top: 0;
        width: auto;
        will-change: left, right;
      }

      &--active .long {
        animation: indeterminate;
        animation-duration: 2.2s;
        animation-iteration-count: infinite;
      }

      &--active .short {
        animation: indeterminate-short;
        animation-duration: 2.2s;
        animation-iteration-count: infinite;
      }
    }
}

@keyframes indeterminate {
  0% {
    left: -90%;
    right: 100%;
  }

  60% {
    left: -90%;
    right: 100%;
  }

  100% {
    left: 100%;
    right: -35%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}
