@import "ui/SHeader.scss";
@import "ui/STextField.scss";

* {
    margin: 0;
    padding: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100vh;
}

.workspace {
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
    padding: 54px 0 0 0;
}

.container {
    width: 100%;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 600px) {
        .row {
            flex-direction: column !important;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .column {
            display: flex;
            flex-direction: column;
            flex-basis: 0;
            padding: 4px;

            &.col-3 {
                flex: 0 0 25%;
            }

            &.col-9 {
                flex: 0 0 75%;
            }

            .blue-column {
                background-color: blue;
                height: 100px;
            }
              
            .green-column {
                background-color: green;
                height: auto;
            }
        }
    }
}
