@import "ui/SCheckbox";
@import "ui/SCheckboxGroup";
@import "ui/SHeader.scss";
@import "ui/STextField.scss";
@import "ui/SList.scss";
@import "ui/SListItem.scss";

html {
    box-sizing: border-box;
    overflow-y: scroll;
    word-break: normal;
}

* {
    margin: 0;
    padding: 0;
}

*, :after, :before {
    box-sizing: inherit;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100vh;
}

.workspace, .bookmarks {
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
    padding: 54px 0 0 0;
}

.container {
    width: 100%;
    padding: 0 12px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 600px) {
        .row {
            flex-direction: column !important;
        }
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 auto;
        margin-right: -12px;
        margin-left: -12px;

        .column {
            flex-direction: column;
            width: 100%;
            padding: 4px 12px 0 12px;

            @media (min-width: 600px) {
                &.col-sm-3 {
                    flex: 0 0 25%;
                    max-width: 25%;
                }

                &.col-sm-9 {
                    flex: 0 0 75%;
                    max-width: 75%;
                }
            }

            &col-12 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}
